.AutoresCategorias{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.357);
  visibility: hidden;
}



.box-Cate-Autores{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87vw;
  min-height: 100vh;
  margin-left: 165px;
}

.MainAutoresCate .box-Tabla{
  width: 84%;
  margin-top: 100px;
  justify-content: start;    
}

.MainAutoresCate .fa-folder-plus{
  font-size: 30px;
  color: #0d5fe4;
}

.MainAutoresCate .fa-folder-plus{
  font-size: 30px;
  color: #0d5fe4;
  cursor: pointer;
}

.MainAutoresCate .Tabla{
  width: 48%;
  margin-left: 50px;
}

.MainAutoresCate .buscador{
  width: 50%;
  height: 45px;
  margin-bottom: -2px;
}

.MainAutoresCate .AutoresTabla{
  width: 35%;
  position: absolute;
  left: 1056px;
  z-index: 3000;
}

 /* TEMA DE FORMULARIOS*/
 .AutoresCategorias form {
  height: 76%;
}

.AutoCateAgregar{
  width: 300px;
  height: 255px;
  position: relative;
  right: 130px;
  bottom: 20px;
}

.boxAuto{
  width: 340px;
  height: 295px;
}

.MainAutoresCate .td-1{
  width: 30%;
}

.MainAutoresCate .buscador{
  width: 50%;
  height: 45px;
  margin-bottom: -2px;
}

.MainAutoresCate .box-input{
  margin: 16px 0px;
}





[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px black;
  font-size: 12px;
  position: absolute;
  padding: 10px 10px 10px 10px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  z-index: 99999;
  visibility: hidden;
  border-radius: 5px;
  border: none;
  
}
[data-title] {
  position: relative;
}