
.MainAutoresCate{
  background-color: #EEEEEE;
}

.AutoresForm{
  left: 390px;
}

.AutoCateAgregar h1{
  font-size: 25px;
}

.AutoCateAgregar .boxs-inputs{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 18px 0px 16px 0px;
}

.AutoCateAgregar .boxs-input{
  margin: 0;
}

.AutoCateAgregar .btnsFormulario{
  margin-top: 0px;
}
.AutoCateAgregar button{
  font-size: 16px;
  width: 215px;
  border: none;
  color: white;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(13,95,228);
}

.AutoCateAgregar .fa-xmark{
  top: 5px;
  font-size: 30px;
}

.AutoCateAgregar .box-Tabla{
  width: 54%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


/*Computador del sena*/

.AutoresCategorias{
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 300ms ease;
  visibility: hidden;
  z-index: 4000;
}

.CateAutoModal{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: all .5s ease;
}




.box-Cate-Autores{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87vw;
  min-height: 100vh;
  margin-left: 165px;
}

.MainAutoresCate .box-Tabla{
  width: 84%;
  margin-top: 100px;
  justify-content: start;    
}

.MainAutoresCate .fa-folder-plus{
  font-size: 30px;
  color: #0d5fe4;
}

.MainAutoresCate .fa-folder-plus{
  font-size: 30px;
  color: #0d5fe4;
  cursor: pointer;
}

 /* TEMA DE FORMULARIOS*/
 .AutoresCategorias form {
  height: 76%;
}

.AutoCateAgregar{
  width: 350px;
  height: 255px;
  position: relative;
  right: 130px;
  bottom: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 35px rgb(0 0 0 / 30%);
}

.boxAuto{
  width: 372px;
  height: auto;
}

.boxIdioma{
  width: 372px;
  height: 260px;
}

.MainAutoresCate .td-1{
  width: 30%;
}

.MainAutoresCate .box-input{
  margin: 16px 0px;
}

/*Aca termina*/


/*-------------------------------------MEDIA----------------------------------*/

@media (max-width: 1400px){

.box-TablaCateAuto{
  width: 87%;
  margin-top: 100px;
}

.TablaCateAuto{
  width: 48%;
  margin-left: 54px;
  margin-top: 50px;
}


/*Lo que se una en las dos tablas*/
.tituloCateAuto{
  width: 95%;
  height: 50px;
}

.tituloCateAuto .buscador input{
  width: 60%;
  height: 30px;
}
/*FIN*/

}

.swal2-container{
  z-index: 4001 !important;
}

/*CAMBIAR CONTRASEÑA*/

.cambioPassword{
  visibility: visible !important;
  z-index: 1000 !important;
}

.cambioPass2{
  width: 383px !important;
  left: 0;
  bottom: 0;
  top: 0;
}

.cambioPass2 form{
  padding: 0px 15px 22px !important;
}

.cambioPass2 button{
  width: 270px !important;
}

/*Recuperar*/
.recuperar{
  visibility: hidden;
}

#Auto11{
  z-index: 4000;
}

.swal2-popup{
  width: 23em !important;
  left: -491px !important;
}


