
.MainAutoresCate{
  background-color: #EEEEEE;
}



.AutoresForm{
  left: 390px;
}



.AutoCateAgregar h1{
  font-size: 25px;
}

.AutoCateAgregar .boxs-inputs{
  justify-content: center;
}

.AutoCateAgregar .boxs-input{
  margin: 0;
}

.AutoCateAgregar .btnsFormulario{
  margin-top: 0px;
}
.AutoCateAgregar button{
  font-size: 16px;
  width: 175px;
}

.AutoCateAgregar .fa-xmark{
  top: 5px;
  font-size: 30px;
}

.AutoCateAgregar .box-Tabla{
  width: 54%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


@media (max-width: 1400px) {

  .AutoresCategorias{
    width: 100%;
    height: 100vh;
  }
  
  .box-Cate-Autores{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87vw;
    min-height: 100vh;
    margin-left: 165px;
  }

 

  .MainAutoresCate .box-Tabla{
    width: 84%;
    margin-top: 100px;
    justify-content: start;    
  }

  .MainAutoresCate .Tabla{
    width: 48%;
    margin-left: 50px;
  }


  /* TEMA DE FORMULARIOS*/
  .AutoresCategorias form {
    height: 76%;
  }

  .MainAutoresCate .td-1{
    width: 30%;
  }

  .MainAutoresCate .AutoresTabla{
    width: 35%;
    position: absolute;
    left: 780px;
    z-index: 3000;
  }

  .MainAutoresCate .buscador{
    width: 50%;
    height: 45px;
    margin-bottom: -2px;
  } 
  
  /*  [title]:hover:after{
    background-color: rgb(181, 181, 181);
    width: 30px;
    height: 30px;
  } */
}