
/*Home*/
@media (max-width: 1400px) {

    /*CARD*/

    .card{
        height: 150px;
        
    }

    .info2{
        top: 5px;
        height: 100%;
        justify-content: center;
    }

    #titulo{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .info2 p{
        font-size: 12px;

    }

    .info2 button{
        width: 140px;
        height: 30px;
    }


    .mainlibros{
        padding-left: 60px;
    }

    .libros2 {
        margin-left: 0;
        padding-left: 60px;
        width: 30%;
    
    }

    .libros2 hr{
        width: 300px;
    }


    /*Descripcion Libro*/

    .des-libro{
        margin-left: -130%;
        margin-top: 50%;  
    }

    .btn-reservar {
        margin-left: -50%;
        
    }

    /*Navegacion2*/

    


    




}

@media (max-width: 1200px) {
    .img-header img {
        width: 600px;
    }

    .conatainer-texto-bsqueda {
        margin-right: -80px;
    }

    .info2 {
        margin-right: -25px;
        width: 230px;
        margin-top: -30px;
    }

    /*descripcion libro*/

    .des-libro{
        margin-left: -160%;
        margin-top: 30%;  
    }

    .btn-reservar {
        margin-left: -70%;
        
    }

    .info-reservas {
    
         margin-bottom: 0; 
    }

    .no-reserva img {
        width: 400px;
    }

    .contendor-cards {
        width: 95%;
     
    }

    .carta {
        width: 95%;
    }
    
    






    

}

@media (max-width: 1024px) {

    .img-header img {
        width: 500px;
    }

    .conatainer-texto-bsqueda {
        margin-right: -130px;
    }

    .contendor-cards {

        width: 90%;
    
    }

    .carta {
        width: 80%;
        height: 260px;
        
    }

    .conatiner-img-card img {
        margin-top: -26%;
    }

    /*descripcion libro*/

    .des-libro{
        margin-left: -180%;
        margin-top: 30px;
  
    }

    .btn-reservar {
        margin-left: -100%;
        
    }

    .botones-perfil {
        width: 25%;
      
    }

    .datos-perfil {
        width: 60%;
    }








}


@media (max-width: 768px) {
    .img-header img {
        display: none;
    }

    .nav-a a{
        display: none;
        
    }

    .nav-a2 a{
        display: none;
        
    }

    .menu-btn{
        display: block;
        color: white;
        font-size: 50px;
        cursor: pointer;
        margin-top: -20px;
        margin-right: -20px;
        

    }

    .conatiner-nav-tres{
        display: block;
        width: 45%;
        height: 100%;
        position:absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.537);
        transform: translateX(-400px);
        transition: all 600ms;
        z-index: 50;
        
    }

    .conatiner-nav-tres.show{
        transform: translateX(0px);
        transition: all 600ms;
     

    }

    .cards-reservas{
        margin-left: 200px;
        margin-top: 20px;
    }

    .container_botones2 button{
        width: 100%;
        margin-left: 2px;
    }

    .blanco2{
        width: 100%;
    }
    
   


   

    .container-avatar img {
        width: 100px;
        height: 100px;
        margin-left: 50px;
        
    }

    .conatiner-img-enlaces{
        margin-top: 50px;
    }

    .conatiner-img-enlaces a{
        color: white;
        text-decoration: none;
    }


    .enlaces-nav{
        margin-top: 70px;

    }

    .enlaces-nav a{
        font-size: 25px;
        margin-bottom: 40px;
    }

    .enlaces-nav a:hover{
        text-decoration: underline;
    }

    .enlaces-nav i{
        margin-right: 5px;
    }

    .container-img-bottom{
        margin-top: -10px;
    }

    .container-eventos {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 50%;
        z-index: 5;
        grid-gap: 30px;
        
       
    }

    .container-eventos img {
        width: 100%;
        height: 300px;
    }

    .carta {
        width: 90%;
    }

    .conatiner-img-card img {
        margin-top: -36%;
    }

    /*Descripcion libro*/

    .mainlibros {
       
        width: 90%;
        margin-left: 0%;
    }

    .mainlibros img {
        width: 300px;
        height: 500px;
    }

    .libros2 {
        width: 80%;
    }

    .nav2 {
        width: 100%;
    }

    .des-libro{
        margin-left: -460%;
        margin-top: 10px;
        
        
  
    }

    .descripcion {
       width: 200px;
    }

    .btn-reservar {
        margin-left: -160%;
        
    }

    .info-libro{
        width: 300px;
    }

    .detalles-libro {
       width: 300px;

    }

    .libros2 {
        width: 10%;
    }


    /*Perfil usuario*/

    
    .flecha-desplegar{
        visibility: visible;
        transition: all 600ms;
        transform: translateX(240px);
        
    }

    .flecha-desplegar.show {
        transition: all 600ms;
        
       

    }

    .botones-perfil{
        position:absolute;
        top: 14%;
        width: 300px;
        transform: translateX(-300px);
        transition: all 600ms;

        
        
    }

    .botones-perfil.show{
        transform: translateX(0px);
        transition: all 600ms;
    }


    .datos-perfil {
        margin-left: 20%;
        margin-bottom: 100px;
       
       
    }

    .container-inputs {
        width: 70%;

        
    }


    
element.style {
    visibility: visible;
}
.overlay2 {
    height: 100%;
    width: 100%;
}

   
    

    

  

}


@media (max-width: 500px) {



    .conatainer-texto-bsqueda{
        width: 70%;
        margin-top: -150px;
    }

    #buscar{
        width: 300px;
    }

    .texto-estatico{
        width: 200px;
        font-size: 30px;
    }

    .conatiner-img-card img {
        visibility: hidden;
    }

    .info2 {
        margin-left: 10px;
        width: 230px;
  
    }
    .Estudiantes-from {
        width: 100% !important;
    }

    .mainlibros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 60%;
        
    }

    .libros2{
        margin: 0;
        padding: 0;
        margin-top: 50px;
        
    }
    .info-libro{
        margin-left: -400%;
        width: 400px;

    

    }

    .detalles-libro{

        margin-left: -400%;
        width: 400px;

    }
    .des-libro{

        
        margin-left: -400%;
        width: 400px;

    }

    .descripcion {
        width: 90%;
    }

    .mainlibros img {
        margin-left: 50px;
    }

    .nav2 {
        width: 92%;
    }

    .cards-reservas{
        margin: 0;
        margin-top: 30px;
    }

    .no-reserva {
        width: 300px;
    }

    .p-hr img {
        width: 300px;
    }

    .botones-perfil {
        z-index: 10;

    }

   




    
    

}


/**/
