
/*Home*/
@media (max-width: 1400px) {

    /*CARD*/

    .card{
        height: 150px;
        
    }

    .info2{
        top: 5px;
        height: 100%;
        justify-content: center;
    }

    #titulo{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .info2 p{
        font-size: 12px;

    }

    .info2 button{
        width: 140px;
        height: 30px;
    }


    .mainlibros{
        padding-left: 60px;
    }

    .libros2 {
        margin-left: 0;
        padding-left: 60px;
        width: 30%;
    
    }

    .libros2 hr{
        width: 300px;
    }


  

    


    




}

@media (max-width: 1200px) {
    .img-header img {
        width: 600px;
    }

    .conatainer-texto-bsqueda {
        margin-right: -80px;
    }

    .info2 {
        margin-right: -25px;
        width: 230px;
        margin-top: -30px;
    }

    /*descripcion libro*/

    .des-libro{
        margin-left: -160%;
        margin-top: 30%;  
    }

    .btn-reservar {
        margin-left: -70%;
        
    }

    .info-reservas {
    
         margin-bottom: 0; 
    }

    .no-reserva img {
        width: 400px;
    }

    .contendor-cards {
        width: 95%;
     
    }

    .carta {
        width: 95%;
    }


    /*Botones-perfil*/

    .conatiner-btn-perfil a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: rgb(95, 95, 95);
        margin-top: 20px;
        transition: all 0.5s;
        width: 130px;
        height: 40px;
        margin: 0px 5px 0px 0px;
        padding: 3px 0px 3px 10px;
        align-items: center;
    }

    /**/

          /*Buscador-nav*/


    
          #s:focus {
            width: 350px;
            opacity: 1;
        }
    
  
        /**/
    
    






    

}

@media (max-width: 1024px) {

    .img-header img {
        width: 500px;
    }

    .conatainer-texto-bsqueda {
        margin-right: -130px;
    }

    .contendor-cards {

        width: 90%;
    
    }

    .carta {
        width: 80%;
        height: 260px;
        
    }

    .conatiner-img-card img {
        margin-top: -26%;
    }

    /*descripcion libro*/

    .des-libro{
        margin-left: -180%;
        margin-top: 30px;
  
    }

    .btn-reservar {
        margin-left: -100%;
        
    }


        /*Botones-perfil*/

        .conatiner-btn-perfil a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: rgb(95, 95, 95);
            margin-top: 20px;
            transition: all 0.5s;
            width: 40px;
            height: 40px;
            margin: 0px 30px 0px 30px;
            padding: 0px 5px 5px 10px;
            align-items: center;
        }
    
        /**/





    .conatiner-btn-perfil p {
        display: none;

    }

    .datos-perfil {
        width: 60%;
    }

        /*Buscador-nav*/


    
        #s:focus {
            width: 200px;
            opacity: 1;
        }
    
  
        /**/








}


@media (max-width: 768px) {





    .img-header img {
        display: none;
    }

    .nav-a a{
        display: none;
        
    }

    .nav-a2 a{
        display: none;
        
    }

    .menu-btn{
        display: block;
        color: white;
        font-size: 50px;
        cursor: pointer;
        margin-top: -20px;
        margin-right: -20px;
        

    }

    /*Buscador-nav*/

    #container {

        right: 140px;
    }

    #s:focus {
        width: 25em;
        opacity: 1;
    }

    #searchform {
        display: inline;
        font-size: 23px;
        border-radius: 4px;
        box-shadow: 0 0 0.3em rgb(60 60 60 / 40%);
        padding: 0.3em;
        background: white;
    }

    /**/

    /*Perfil*/

    .conatiner-nav-tres{
        display: block;
        width: 250px;
        height: 800px;
        position:absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.537);
        transform: translateX(-600px);
        transition: all 600ms;
        z-index: 50;
        border-bottom-right-radius: 20px;
        
    }

    .conatiner-nav-tres.show{
        transform: translateX(0px);
        transition: all 600ms;
     

    }



    /**/

    /**/
    /**/



    .cards-reservas{
        margin-left: 200px;
        margin-top: 20px;
    }

    .container_botones2 button{
        width: 100%;
        margin-left: 2px;
    }

    .blanco2{
        width: 100%;
    }
    
   


    .img-nombre-p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-avatar img {
        margin: 0;
        width: 100px;
        height: 100px;

       
        border: 5px solid white;
        
    }

    .nombre-user{
        font-size: 25px;
        font-weight:lighter;
        color: white;
        margin-top: 10px;
    }

    .conatiner-img-enlaces{
        margin-top: 50px;
    }

    .conatiner-img-enlaces a{
        color: white;
        text-decoration: none;
    }


    .enlaces-nav{
        margin-top: 70px;

    }

    .enlaces-nav a{
        font-size: 25px;
        width: 160px;
        padding: 7px;
        margin-bottom: 40px;
    }

    .enlaces-nav a:hover{
        text-decoration: underline;
    }

    .enlaces-nav i{
        margin-right: 5px;
    }

    .container-img-bottom{
        margin-top: -10px;
    }

    .container-eventos {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 50%;
        z-index: 5;
        grid-gap: 30px;
        
       
    }

    .container-eventos img {
        width: 100%;
        height: 300px;
    }

    .carta {
        width: 90%;
    }

    .conatiner-img-card img {
        margin-top: -36%;
    }

    /*Descripcion libro*/

    .mainlibros {
        margin-left: 0%;
        display: flex;
        flex-direction: column;
    }

    .imglibros{
        width: 100px;
    }

    .mainlibros img {
        width: 300px;
        height: 500px;
        
    }

    


    /*Perfil usuario*/



    .datos-perfil {
        width: 90%;
        margin-bottom: 100px;
       
       
    }

    .container-inputs {
        width: 70%;

        
    }


    
element.style {
    visibility: visible;
}
.overlay2 {
    height: 100%;
    width: 100%;
}

    /*Botones-perfil*/

        .conatiner-btn-perfil a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: rgb(95, 95, 95);
            margin-top: 20px;
            transition: all 0.5s;
            width: 40px;
            height: 40px;
            margin: 0px 10px 0px 10px;
            padding: 0px 5px 5px 10px;
            align-items: center;
        }
    
    /**/


    /*Btn editar inputs perfil*/

    .editar-perfil {
        position: absolute;
        right: 120px;
        cursor: pointer;
        font-size: 18px;
        color: #1883ca;
    }

    /**/

        /*Imagen y nombre de perfil*/

        .img-nombre {
            position: absolute;
            left: 70px;
            
        }
    
        .usu {
            position: absolute;
            left: 250px;
            margin-top: 260px;
            display: flex;
            flex-direction: column;
            color: white;
        }
    
    
    
        /**/


        /*Ventana-reserva*/
        .Estudiantes-from2 {
            width: 65%;
            
        }

        .nueva-reserva-close a {
 
            position: absolute;
            right: 18%;
        }

        /**/


        /*card-reserva*/

        .card-reserva {
            width: 100%;
     
        }

   
        /**/


        /*Buscador Libros*/

        #Buscador {
           
            width: 300px;
            
        }

        .cards-busquedas {
            width: 90%;
            
            
        }


        /*info-libro*/

        .des-libro{
            margin-left: 0%;
            margin-top: 50%;  
        }

        .btn-reservar {
            margin-left: 0%;
        }
    


        






   
    

    

  

}




@media (max-width: 500px) {

    
    /*Buscador-nav*/

    #container {

        display: none;
    }


    /**/




 

    /*main*/
    .main {

        width: 90%;

    }

    /**/
    /*Barra Navegacion*/

    .conatainer-texto-bsqueda {
        width: 80%;
    }

    .container-text {
        margin-top: 200px;
    }

    .container-text p {
        font-size: 25px;
    }

    .texto-estatico {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        width: 100%;
        height: 20px;
    }


    #buscar {
        width: 300px;  
    }



    /**/




    /*Novedades*/

    .contendor-cards-libros {
        margin-left: 50px;

        margin-bottom: 100px;
 
    }


    /**/


  


    /*Eventos*/

    .container-eventos {
        margin-left: 50px;
    }

    #titlulo-eventos {
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
        z-index: 5;
     
    }


    .container-eventos img {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }

    /**/

    /*Slider-Educativos*/

    .card {
        width: 0%;
    }


    .info2 {
        margin-left: -120px;
        width: 230px;
        margin-top: -30px;
    }

    #titulo {
        
        font-size: 20px !important;
    }


    .conatiner-img-card img {
        display: none !important;
    }
    .contendor-cards {
        height: 430px;
        margin-left: 50px;
        
        
    }

    #titlulo-slider {
        margin-bottom: 30px;
        width: 80%;
        margin-top: 30px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
    }

    

    /**/


    /*Libro Mision y vision*/

    .container-libro-ms{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stf__parent{
        width: 100px !important;
        height: 100px !important;
        margin-left: 40px;
    }


        /*Botones-perfil*/

        .conatiner-btn-perfil a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: rgb(95, 95, 95);
            margin-top: 20px;
            transition: all 0.5s;
            width: 40px;
            height: 40px;
            margin: 0px 2px 0px 2px;
            padding: 0px 2px 5px 5px;
            align-items: center;
        }
    
    /**/


    /*Imagen y nombre de perfil*/

    .img-nombre {
        position: absolute;
        left: 120px;
        top: 0;
        
    }

    .usu {
        position: absolute;
        left: 80px;
        margin-top: 260px;
        display: flex;
        flex-direction: column;
        color: white;
    }



    /**/

    /*Tabla*/



    .tabla-libros-reservados th{

        font-size: 10px;
        
    }

    .img-card-res {
        width: 60px;
        height: 100px;
        margin: 5px;
    }

    /**/


        /*Btn editar inputs perfil*/

        .editar-perfil {
            position: absolute;
            right: 70px;
            margin-top: -60px;
            cursor: pointer;
            font-size: 18px;
            color: #1883ca;
        }

        .container-inputs2 {
       
            margin-left: 50px;
        }
    
        /**/


        /*Card-Contraseña*/

        .container-contraseña {
            width: 300px;
            height: 300px;
        }

        .card2 img{
            height: 250px;
        }


        
        /*Ventana-reserva*/
        .Estudiantes-from2 {
            width: 90%;
            
        }

        .nueva-reserva-close a {
 
            position: absolute;
            right: 6%;
        }

        #libro-reserva {
            width: 150px;
            margin-top: 7px;
            margin-left: 70px;
        }

        /**/


        /*Alerta*/

        .container-alerta{
            width: 350px;
        }

        .container-alerta p{
            font-size: 17px;
        }

        /**/

        .no-reserva {
            width: 300px;
        }

        .no-reserva img {
            width: 300px;
        }

        .p-hr {
            
            width: 300px;

        }

        .p-hr img {
            width: 300px;
        }

        .cate{
            display: none;
        }


 


        



  
   




    
    

}


/**/
