@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: 'Lato', sans-serif;  
  margin: 0;
  padding: 0;
}

/*NAV*/

#logo{
  width: 90px;
  object-fit: contain;
}

#avatar{
  width: 80px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 50px;
}


.nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.335);
}

.nav a{
  margin-right: 40px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.nav-a{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 600px;
}

.nav a:hover{
  text-decoration:underline rgb(255, 253, 253);

}





/*HEADER*/

.banner{
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  width: 100%;
  height: 550px;

  animation-name: banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction:inherit;

}

@keyframes banner {
  0%, 30%{
      background-image: url(assets/Imagenes/Diseño\ sin\ título\ \(1\).svg);
  }

  35%, 65%{
      background-image: url(assets/Imagenes/Diseño\ sin\ título\ \(3\).svg);

  }

  70%, 100%{

      background-image: url(assets/Imagenes/Diseño\ sin\ título\ \(7\).svg);
  }

  105%, 135%{
      background-image: url(assets/Imagenes/Diseño\ sin\ título\ \(9\).svg);
  }


}

.banner-contenido{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poema{
  margin-top: 250px;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;


}
.barra-busqueda{
  display: flex;
  flex-direction: row;
}

#buscar{
  background-color: rgb(255, 255, 255);
  border: none;
  height: 50px;
  width: 600px;
  border:none;
}

#search{
  width: 50px;
  height: 50px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.banner-degrade{
  margin-top: -119px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61),#111);
}

/*MAIN*/

/*Categorias*/

.contenedor-categorias{
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.contenedor-categorias img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.main{
  margin-top: 50px;
  width: 100%;

}

.fila{
  margin-top: 20px;
}

#destacados{
  margin-left: 30px;

}

.fila-banner{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  height: 350px;
}

.fila-banner::-webkit-scrollbar {
  display: none;

}

/*Cards-Slider*/

.contenedor{
  width: 500px;
  height: 250px;
  background-color: rgb(127,203,196);
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

#fila-poster{
  cursor: pointer;
  object-fit: contain;
  width: 250px;
  height: 250px;
  margin-right: 30px;
  transition: transform 600ms;
  margin-top: 40px;
}

.fila-poster:hover{
  transform: scale(1.09);
}

.info{
  margin-top: 10px;
  width: 90%;
}


#autor{
  color: white;
  text-align: center;
}

#descripcion{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;


}

#btn-Vermas{
  margin-left: 35%;
  width: 100px;
  height: 30px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.876);
  border: none;
  border-radius: 7px;
  cursor: pointer;

}

/*Libros*/

.container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.container-libros{
  width: 90%;

}

.libros{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-libro{
  width: 280px;
  height: 370px;
  margin-top: 30px;
  margin-right: 30px;
  background-color: rgb(127,203,196);
}

#libro{
  cursor: pointer;
  width: 220px;
  height: 300px;
  margin: 30px 30px 30px 30px;

}



/*FOOTER*/
.footer{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 45vh;
  justify-content: space-between;
}

.footer-lados{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  color: white;
  background-color: rgb(0, 0, 0);
}

.footer-info{
  position: relative;
  bottom: 15px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.footer2{
  width: 60%;
  height: 60%;
  color: white;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contenedor-redes{
  position: relative;
  bottom: 88px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor-redes img{
  width: 64px;
}

.contenedor-info{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor-logo{
  position: relative;
  bottom: 26px;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-reservados{
  position: relative;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor-logo-footer{
  height: 100%;
}
.contenedor-logo-footer img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media(max-width:1000px){
  .footer{
    height: 35vh;
  }

  .footer-lados{
    width: 40%;
  }

  .footer-lados h1{
    font-size: 18px;
  }

  .footer-lados p{
    font-size: 12px;
  }

  .footer-lados .contenedor-info{
    display: flex;
  }

  .contenedor-redes{
    bottom: 75px;
    width: 70%;
  }
  .contenedor-redes img{
    width: 50px;
  }

  .contenedor-logo{
    bottom: 20px;
  }

  .footer-reservados p{
    font-size: 15px;
  }
}


