@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Permanent+Marker&family=Rubik:wght@300&family=Ubuntu:ital,wght@0,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
}


.AgregarLibros{
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;    
  transition: all 300ms ease;
  z-index: 4000;
}

/*NAV*/

#logo{
  margin-left: 30px;
  margin-top: 20px;
  width: 120px;

}


.nav{

  background-color: rgb(10, 9, 9);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 7;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size:20px;
  height: 12px;
  margin-right: 40px;
  margin-left: 10px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: transparent;
    border-radius: none;
    box-shadow: none;
 
}

.nav-a{
  position: absolute;
  right: 60px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
}

.icon-nav{
  font-size: 25px;
  color: white;
  margin-right: 3px;

}
.nav-icon{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
}

.nav-icon i{
  padding-right: 3px;
}

.container-avatar img{
  margin-left: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -30px;
  cursor: pointer;
}






/**/

.logo img{
  width: 120px;
  position: absolute;
  margin-left: 30px;

}

.nav2{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: #0d5fe4;
  height: 100px;

}



.nav2 a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  height: 12px;
  margin-right: 40px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;

 
}


.nav-a2{
  position: absolute;
  right: 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}


.nav-icon2{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
}

.nav-icon2 i{
  padding-right: 3px;
}

.icon-nav2{
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-right: 3px;

}

.nav a:hover{
  text-decoration:underline #2591DA;
  color: #2591DA;

}
.nav2 a:hover{
  text-decoration:underline rgb(255, 255, 255);

}
S
.container-avatar{
  margin-left: 100px;
}

.container-avatar i{
  color: #ffffff;
  font-size: 50px;
  margin-top: -20px;
}

.img-bottom-header{
  height: 200px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-bottom-header img{
  height: 187.4px;
  width: 100%;
  
}


/*Contador*/

.nav-contador{
  position: relative;
  height: 15px;
}

.contador {
  background-color: #2691d9;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  position: absolute;
  top: -10px;
  margin-left: 7px;
}

.contador p{
  font-size: 14px;
  color: white;
}

#icon-contador{
  width: 100%;
}


/*HEADER*/

.banner{
  margin-top: -30px;
  background: rgb(0,9,36);
  background: linear-gradient(180deg, rgba(0,9,36,1) 0%, rgba(34,102,184,1) 68%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  width: 100%;
  height: 600px;
  animation-name: banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction:inherit;
  display: flex;
  justify-content: center;
  

}







/*
@keyframes banner {
  0%, 25%{
      background-image: url(assets/Imagenes/Banner/Diseño\ sin\ título\ \(1\).png);
  }

  25%, 50%{
      background-image: url(assets/Imagenes/Banner/Diseño\ sin\ título\ \(3\).png);

  }

  50%, 75%{

      background-image: url(assets/Imagenes/Banner/Diseño\ sin\ título\ \(7\).png);
  }

  75%, 100%{
      background-image: url(assets/Imagenes/Banner/Diseño\ sin\ título\ \(9\).png);
  }


}
*/
.banner-contenido{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-header{
  z-index: 7;
  margin-left: 100px;
  margin-top: 400px;
}

.img-header img{

  width: 650px;




}


@keyframes typing{
  40%, 60%{
    left: calc(100% + 30px);
  }

  100%{
    left: 0;
  }
}

.container-text{
  margin-top: 300px;
}

.container-text p{
  font-size: 25px;
  margin-bottom: 10px;
  color: #bae5ff;
}

.texto-estatico{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  width: 600px;
  height: 90px;
}

.barra-busqueda{
  margin-top: 50px;
}


.conatainer-texto-bsqueda{
  width: 500px;
}



#buscar{
  background-color: rgb(255, 255, 255);
  border: none;
  height: 60px;
  width: 450px;
  border-radius: 7px;
  outline: none;
  padding-left: 20px;
}

.btn-search{
  width: 100px;
  height: 40px;
  margin-left: -110px;
  padding: 0;
  margin-top: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  background-color:#2591DA;
  border: none;
  border-radius: 7px;

}


.btn-search i{
  font-size: 25px;
  color: white;
}





/*MAIN*/

.main{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}





/*Cards-Slider*/


.contendor-cards{

  display: flex;
  align-items: center;
  width: 96%;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
  background-color: #f0f0f0;
  z-index: 5;
}

#titlulo-slider{
  margin-left: 50px;
  margin-bottom: 30px;
  width: 100%;
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
}

.cards{
  width: 80%;

}



.conatiner-img-card img{
  width: 150px;
  height: 250px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.325);
  margin-top: -38%;
  margin-left: 56%;


  

 
  
}

.carta{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 250px;
  background-color: #2591DA;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.325);

}



#titulo{
  color: white;
  font-size: 25px !important;
}

.info2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -180px;
  width: 250px;
  height: 225px;
  margin-top: -30px;

 

 
}


.info2 h2{
  font-size: 30px;
}
.descripcion{

  color: black;

  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;




}






/*Libros*/

.contendor-cards-libros{

  display: flex;
  align-items: center;
  width: 90%;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;
}


.contenedor-libro{
  width: 250px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.cardss{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center; 
}

.contenedor-libro:hover .libro{
  position: absolute;
  z-index: -1;
}



.contenedor-libro:hover .btn-card{
  height: 80%;
}

.contenedor-libro:hover .container_botones{
  bottom: 10px;
}



.btn-card{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  transition: all 400ms;
}

.btn-card .container_vacio{
  height: 100%;
}

.btn-card .container_botones{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: -100px;
  transition: all 600ms;
  z-index: 1;
}


.container_botones button{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;


}

.container_botones button:hover{
  background-color: #2591DA;
}

.container_botones button:hover i{
  color: white;
  
}


.container_botones button i{
  color: #000000;
}

.blanco{
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 270px;
  z-index: 2;
  margin-top: -6%;
}

.blanco p{
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
  color: #2591DA;
}

.blanco h2{
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}



.container_botones a{
  text-decoration: none;
}





.libro img{
  width: 250px;
  height: 350px;
}








/*Boton slider*/

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: -50px;


 }
 
 button.learn-more {

  width: 1rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -10px;
  margin-bottom: -40px;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
 }
 
 button:hover .circle {
  width: 100%;
  background-color: white;
 }
 
 button:hover .circle .icon.arrow {
  background: rgb(0, 0, 0);
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: rgb(0, 0, 0);
 }




 /*------EVENTOS---------*/

 #titlulo-eventos{
  
  width: 90%;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  z-index: 5;
 }

 .container-eventos{
 
   z-index: 5;

 }
 .container-eventos img{
   width: 100%;
   height: 100%;
   margin-bottom: 50px;
   box-shadow: 15px 15px 30px #bebebe,
   -15px -15px 30px #ffffff;


 }
 .evento1 {
  grid-column: 1 / 3;
  grid-row: 1/3;
  
}
.evento2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.evento3 {
  grid-column: 1;
  grid-row: 3 / 5;
  
}
.evento4 {
  grid-column: 2/4;
  grid-row: 3/5;
 
}

/*Libro mision-vision*/

.container-libro-ms{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  
}

.demoPage img{
  width: 100%;
  height: 100%;

  

}


.demoPage1 img{
  width: 100%;
  height: 100%;

}

.demoPage1 h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 60px;
  width: 150px;
  position: absolute;
  top: 150px;
  left: 120px;
}



.demoPage2 h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
  width: 150px;
}

.portadalibro{
  width: 100%;
  height: 100%;

}
.demoPage h2 {
  position: absolute;
  top: 100px;
  left: 120px;
}

.demoPage p{
  width: 250px;
  position: absolute;
  top: 150px;
  left: 80px;
}



.demoPage1{
  box-shadow: 0px 50px 50px 10px rgba(0, 0, 0, 0.325);


}
.demoPage{
  box-shadow: 0px 50px 50px 10px rgba(0, 0, 0, 0.325);


}







/*FOOTER*/
.footer{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 45vh;
  justify-content: space-between;
}

.footer-extremos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  color: white;
  background-color: rgb(0, 0, 0);
}

.box-footer-Padre{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-info{
  position: relative;
  bottom: 15px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.footer-centro{
  width: 100%;
  height: 60%;
  color: white;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-centro .redes{
  bottom: 88px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-centro .redes img{
  width: 64px;
}


.footer-centro .box-logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 121px;
}

.footer-centro .contenedor-logo{
  height: 110px;
}

.footer-derechos{
  position: relative;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-centro .contenedor-logo img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}



@media(max-width:1000px){
  .footer{
    height: 35vh;
  }

  .footer-lados{
    width: 40%;
  }

  .footer-lados h1{
    font-size: 18px;
  }

  .footer-lados p{
    font-size: 12px;
  }

  .footer-lados .contenedor-info{
    display: flex;
  }

  .contenedor-redes{
    bottom: 75px;
    width: 70%;
  }
  .contenedor-redes img{
    width: 50px;
  }

  .contenedor-logo{
    bottom: 20px;
  }

  .footer-reservados p{
    font-size: 15px;
  }
}


/*Navegacion3*/

.conatiner-nav-tres{
  display: none;
}


.menu-btn{
  display: none;
}



.admin-icon.show{
  display: none;
}

.admin-icon3.show{
  display: none;
}

.Perfil-icon.show{
  display: none;
}

.nav-a img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 50px;
  border: solid 3px white;

}





.boxs-inputs2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}



.btnFor2 {
  border: none;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(13,95,228);
}

.container-inputs-input{
  width: 100%;
  grid-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  
}

.container-inputs2 {
  width: 80%;
  display: block;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin-left: 70px;
}

.container-formulario{
  display: none;
}

.container-formulario.show{
  display: block;
}

.container-formulario2.show{
  display: none;
}
/*Datos-perfil-p*/

.container-info-estudiante{
  width: 100%;
  grid-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  
}


.td-Titulo{
  color: #2591DA;
  padding-left: 11px;
}

.box-p{
  margin-bottom: 40px;
  width: 200px;
  border-bottom: #2591DA solid 2px;
}

.td-datos{
  padding-bottom: 10px;
  padding-left: 9px;
}

.icon-like.show{
  background-color: #0d5fe4;
}

.contendor-cards-libros{
  width: 80%;


}

.todos-libros{
  display: flex;
  flex-wrap: wrap;
}


.on{
  filter: grayscale(1);

}




