/*-------------------LOGIN--------------------*/

.bodyLogin{
    width: 100vw;  
    height: 100vh;
    overflow: hidden;
}

.MainLogin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contenedorImgLogin{
    background-image: url(./assets/Imagenes/3.jpg);
    background-size: cover;
    width: 50%;
    height: 100%;
}

.contenedorLoginInfo{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    background-color: rgba(1, 0, 39, 0.335)
}

.divInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 75%;
}

.footerLogin{
    position: relative;
    bottom: 20px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.footerLogin img{
    width: 80px;
}

.logoImg{
    width: 250px;
    height: 150px;
}

.logoImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.divTextos{
    min-height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.info{
    color: white;
    width: 100%;
    height: 34%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info h1{
    text-shadow: 0px 0px 15px black;
    font-size: 23px;
}

.info p{
    font-size: 16px;   
}

.divFormulario{
    width: 100%;
    display: flex;
    justify-content: center;
}


.contenedorLogin{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.divlogoFrom{
    width: 100%;
    height: 20%;
}


.divNegroLogin{
    position: relative;
    top: 10px;
    left: 20px;
    width: 15%;
}

.LogoNegroLogin{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Formulario*/

.center{
    width: 40%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #2691d9;
transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}
.pass{
margin: -5px 0 20px 5px;
color: #a6a6a6;
cursor: pointer;
}
.pass:hover{
text-decoration: underline;
}
input[type="submit"]{
width: 100%;
height: 50px;
border: 1px solid;
background: #2691d9;
border-radius: 9px;
font-size: 18px;
color: #e9f4fb;
font-weight: 700;
cursor: pointer;
outline: none;
}
input[type="submit"]:hover{
border-color: #2691d9;
transition: .5s;
}
.signup_link{
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.signup_link a{
color: #2691d9;
text-decoration: none;
}
.signup_link a:hover{
text-decoration: underline;
}

@media (max-width: 1000px){
    .body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .center{
        width: 70%;
        background: rgb(255, 255, 255);
        border-radius: 10px;
    }

    .footerLogin img{
        width: 60px;
    }

    .logoImg{
        width: 192px;
    }

    .info h1{
        font-size: 20px;
    }
    
    .info p{
        font-size: 13px;   
    }
}


/*-------------------GMAIL--------------------*/

.bodyGmail{
    width: 100vw;  
    height: 100vh;
    overflow: hidden;
}

.contenedorGmail{
    width: 70%;
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

form .txt_fieldGmail{
    border: 2px solid #adadad;
    border-radius: 2px;
    min-height: 10px;
    margin: 30px 0;
}


textarea{
    background-color: transparent;
    width: 100%;
    height: 100px;
    margin-top: -1px;
    margin-bottom: -3.5px;
    font-size: 16px;
    border: 0px;
    outline-color: #2691d9;
    resize: none;
}

textarea::placeholder{
    color: #adadad;
    font-size: 16px;
}

/*-------------------ADMIN--------------------*/

.mainAdmin{
    width: 100vw;
    height: 100vh;
}

.barra-arriba{
    display: flex;
    width: 100%;
    height: 4%;
}

.barra1{
    width: 20%;
    height: 100%;
    background-color: #242b3b;
}
.barra2{
    width: 80%;
    height: 100%;

}

.contenedor-contenedores{
    display: flex;
    width: 100%;
    height: 96%;
}

.barra2_2{
    width: 20%;
    height: 100%;
    background-color: #181e2c;
}
.barra2_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.barra2_33{
    width: 100%;
    height: 15%;
    background-image: url(../src/assets/Imagenes/Banner/Admin2.png);
    background-size: cover;
}

.barra2_34{
    width: 77%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.CardAdmin{
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    box-shadow: 0px 0px 15px rgb(119, 109, 109);
}

.CardAdmin:hover{
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
}

.CardAdmin img{
    width: 60px;
    height: 60px;
}

@media (max-width:1400px){
    .barra2_34{
        width: 90%;
    }
    .CardAdmin{
        width: 300px;
        height: 250px;
    }
}

@media (max-width:900px){
    .barra2_34{
        width: 100%;
    }
    .CardAdmin{
        width: 230px;
        height: 180px;
        display: flex;
        justify-content: center;
    }
    .CardAdmin img{
        width: 40px;
        height: 40px;
    }

    .CardAdmin h1{
        font-size: 20px;
    }
}


/*-------------------PERFIL--------------------*/

.contenedor-perfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40rem;
    margin-top: 90px;
}

.botones-perfil{
    background-color: #ececec;
    width: 22.7%;
    display: flex;
    flex-direction: column;
}

.img-nombre{
    margin-top: 30px;
    display: flex;
    margin-left: -20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.usu{
    margin-left: -20px;
}

#avatar-perfil{
    width: 200px;
}

.btns{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;

}

.btns a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 20px;
}

.btns a:hover{
    color: #2691d9;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}

#Bienvenido{
    color: #a6a6a6;
}

.datos-perfil{
    width: 70%;
    margin-left: 50px;
}

#Tu-cuenta{
    margin-top: 30px;
    margin-left: 40px;
}

.p-hr{
    margin-top: 30px;
    margin-left: 40px;

}

.container-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.container-info{
    width:400px;
    height: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: solid 1px rgb(197, 197, 197);

}

.container-info input{
    border: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 40px;
}

.container-info input:hover{
    border-bottom: #2691d9 1px solid;

}

/*Categorias*/

.libros-categorias{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }

.container-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}




