/*PERFIL*/

@media (max-width: 1600px) {
    .contenedor-perfil{
        height: 80%;
        margin-bottom: 5%;

    }

    .datos-perfil{
        height: 100%;
    }

    .botones-perfil{
        width: 27%;
        height: 1000px;
    }

}